<p id="notice"><%= notice %></p>

<h1>Cheeses</h1>
<%= link_to 'Cheese preferences!', preferences_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Strength</th>
      <th>Smelly</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cheeses.each do |cheese| %>
      <tr>
        <td><%= cheese.name %></td>
        <td><%= cheese.country %></td>
        <td><%= cheese.strength %></td>
        <td><%= cheese.smelly %></td>
        <td><%= link_to 'Show', cheese %></td>
        <td><%= link_to 'Edit', edit_cheese_path(cheese) %></td>
        <td><%= link_to 'Destroy', cheese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cheese', new_cheese_path %>
