<%= form_with(model: preference, local: true) do |form| %>
  <% if preference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preference.errors.count, "error") %> prohibited this preference from being saved:</h2>

      <ul>
      <% preference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <!-- Making a drop down list of all the available Users and embedding it in the form -->
    <%= collection_select(:preference, :user_id, @users, :id, :name) %>

  </div>

  <div class="field">
    <%= form.label :cheeses %>
    <!-- Making a drop down list of all the available cheeses and embedding it in the form -->
    <%= collection_select(:preference, :cheese_id, @cheeses, :id, :name) %>

  </div>

  <div class="field">
    <%= form.label :no_cheeses %>
    <%= form.number_field :no_cheeses %>
  </div>

  <div class="field">
    <%= form.label :tasty %>
    <%= form.check_box :tasty %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :cheese_id %>
    <%= form.text_field :cheese_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
