<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @preference.user %>
</p>

<p>
  <strong>Cheeses:</strong>
  <%= @preference.cheeses %>
</p>

<p>
  <strong>No cheeses:</strong>
  <%= @preference.no_cheeses %>
</p>

<p>
  <strong>Tasty:</strong>
  <%= @preference.tasty %>
</p>

<p>
  <strong>User:</strong>
  <%= @preference.user %>
</p>

<p>
  <strong>Cheese:</strong>
  <%= @preference.cheese %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
